@import '../settings/colors';
@import '../settings/fonts';
@import '../elements/base';
@import "../settings/mixins";

.carousel__container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 600px;
  font-family: $font-open-sans;
  overflow-x: hidden;
}

.wrap {
  position: relative;
  //display: flex;
  //overflow: hidden;
}
.slide {
  //flex: 0 0 100%;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  margin: 0 auto;
  height: 600px;
  width: 85%;
  display: none;

  &.active {
    display: block;
  }
}

.slide__content {
  //position: absolute;
  //text-align: center;
  //top: 50%;
  //left: 50%;
  //transform: translate(-50%,-50%);
  //padding: 20px 20px;
  //background-color: #ffffff;
  //opacity: 0.55;
  font-family: sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
  z-index: 1;
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    padding: 15px 40px;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.4);
    filter: blur(5px);
    z-index: -1;
  }

// zblurować background na tekście żeby był lepiej widoczny

  h2 {
    padding-bottom: 30px;
    //color: $color-background;
    font-size: 30px;
    font-weight: 500;
    //opacity: 1;
  }

  p {
    //color: $color-background;
    font-size: 20px;
   // opacity: 1;
  }
}

//.text {
//  width: 40%;
//  position: absolute;
//
//}


.slide1 {
  background-image: url("https://img.freepik.com/free-photo/top-view-table-full-delicious-food-composition_23-2149141352.jpg?w=826&t=st=1701589334~exp=1701589934~hmac=5ecf140022e81d2fb66b3ee10f6106ea5f777b9ff052d59a6272a84d10446dfa");

}
.slide2 {
  background-image: url("https://img.freepik.com/free-photo/top-view-table-full-delicious-food-arrangement_23-2149141328.jpg?w=826&t=st=1701589361~exp=1701589961~hmac=daf5bfc0e2d8d4b57ed0f715a24eaf243c9766aa840a145d6f3b2dac6e8b6289");
}

.slide3 {
  background-image: url("https://img.freepik.com/free-photo/view-delicious-food-assortment_23-2149598944.jpg?t=st=1701589334~exp=1701589934~hmac=d66c010cb6c4e08ee4aa688c1e570d29639a6de290127b2864690eb67404e051");
}

#leftArrow, #rightArrow {
  cursor: pointer;
  position: absolute;
  top: 45%;
  color: rgba(74 ,74 ,73 ,0.5);
  font-size: 40px;
}
#rightArrow {
  right: 60px;
  &:hover{
    color: $color-navigation;
  }
}
#leftArrow {
  left: 60px;
  &:hover{
    color: $color-navigation;
  }
}


