@import '../settings/colors';
@import '../settings/fonts';
@import '../elements/base';

.logo {
      font-family: $font-charmonman;

      h1 {
        color: white;
      }

      span {
        color: $color-logo;
        margin-left: 10px;
      }
    }